<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hospital.entity.User">
        <id column="id" property="id" />
        <result column="address" property="address" />
        <result column="createtime" property="createtime" />
        <result column="deletestatus" property="deletestatus" />
        <result column="dianhua" property="dianhua" />
        <result column="password" property="password" />
        <result column="role" property="role" />
        <result column="sex" property="sex" />
        <result column="sfz" property="sfz" />
        <result column="username" property="username" />
        <result column="xingming" property="xingming" />
    </resultMap>

</mapper>
